:root {
  /* Thème light */
  --main-primary: #e53935;
  --main-secondary: #ffcdd2;
  --main-success: #4caf50;
  --main-info: #2196f3;
  --main-warning: #fb8c00;
  --main-error: #ff5252;
  --main-color1: #9c27b0;
  --main-color2: #ffeb3b;
  --main-color3: #121212;
}

:root.dark {
  /* Thème dark */
  --main-primary: #ffcdd2;
  --main-secondary: #e53935;
  --main-success: #81c784;
  --main-info: #64b5f6;
  --main-warning: #ffb74d;
  --main-error: #e57373;
  --main-color1: #ce93d8;
  --main-color2: #fff176;
  --main-color3: #868686;
  --main-background: #121212;
  --main-text: #e53935;
}
